.label {
  width: 400px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  padding: 4px 5px;
}
.input {
  height: 25px;
  padding: 4px;
  width: 200px;
  border-radius: 5px;
}
